<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.suprema.biominisample"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="${sharedUserId}">

    <uses-permission android:name="com.id2mp.permissions.FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="fr.bipi.lib.splash.PermissionSplashScreen"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="activity"
                       android:value="com.suprema.biominisample.MainActivity"/>
        </activity>

    </application>

</manifest>